@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #b1b1b1; /* Light mode background color */
  transition: background-color 5s, color 5s, border-color 5s; /* Smooth transition */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Navbar, Footer, and Text Styles */
.navbar, .footer, .text1, .text2, .text3, .title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.navbar {
  font-size: 1.5rem;
}

.footer {
  font-size: 1rem;
}



/* About Container */
.aboutContainer {
  margin-left: 20vw;
}


.icon {
  width: 2rem;
  height:2rem;
  /* Additional styling as needed */
}